
    /* #mine { */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* color: aqua; */
    /* font-size: 50px; */
    /* font-weight: lighter; */
    /* } */

    button {
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        background-color: rgba(255, 159, 239, 0.692);
      }
  
      .Box {
        display: grid;
        justify-content: center;
        width: 80vw;
      }
  
      pre {
        background-color: #f0f0f0;
        /* Light gray background */
        padding: 10px;
        /* Add some padding */
        border: 1px solid #ddd;
        /* Light gray border */
        min-width: 80vw;
        margin-left: 20vw;
        
      }
  
      code {
        font-family: monospace;
        /* Use a monospace font */
        font-size: 14px;
        /* Set font size */
      }
  